* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MainContainer {
  padding-top: 10px;
  width: 1512px;

  top: -3679px;
  left: -756px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
